@use '../../styles/partials/mixins' as *;
.aside,
.aside a {
    text-decoration: none;
}

.aside__video-title {
    text-decoration: none;
    color: #323232;
}
.aside__video-channel{
    text-decoration: none;
    color: #323232;
}
.aside{
    font-family: 'Avenir';
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 1rem;
    border-top: 1px solid #f1f1f1;

    @include tablet {
        padding-left: 2rem;
    }
    
    @include desktop { 
        padding-left: 3rem;
        border-top: 0px solid black;
        border-left: #f1f1f1 1px solid;
    }



        &__title{
        text-decoration: none;
        font-size: 16px;
        color: #AFAFAF;
        @include tablet {
        margin-top: 32px;
        margin-bottom: 32px;
             
    }
    @include desktop { 
    }

        }

        &__video{
        display: inline-flex;
        padding-bottom: 2rem;

        }
        &__video-image{
         height: 100px;
        width: 130px;
        max-width: 15vh;
        max-height: 10%;
        border-radius: 5%;
    }
    &__video-text{
        display: grid;
    }

    &__video-title{
    padding-left: 1rem;
    font-weight: 600;
    font-size: 15px;
    

    }
    &__video-channel{
        padding-left: 1rem;

    }



}
