@use '../../styles/partials/mixins' as *;


.Header {
  display: inline-flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: blue;
  width: 100%;
  align-items: center;
@include tablet {
  flex-direction: row;
}
@include desktop { 

}
}

.navbar__userimg{
  width: 7.5vh;
  border-radius: 50%;
  @include tablet {
    position: absolute;
    width: 6.5vh;
    right:1%;
    top: 1%
  }
  @include desktop { 


  
  }
}

.navbar__search--logo{
  width: 20vh;
  padding-top: 16px;

  @include tablet {
    padding-left: 2rem;
    padding-right: 16rem;
    padding-top: 0px;

  }
      @include desktop { 
        padding-left: 27rem;
        padding-right: 25%;
        height: 3.4rem;
  }
}

.navbar__useroptions{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  @include tablet {
    flex-wrap: nowrap;
  }
  @include desktop { 

  
  }
}

.navbar__upload-button__container{
width: 70%;
padding-bottom: 16px;
padding-top: 1rem;
}
.navbar__upload-button{
width: 100%;
display: inline-flex;
justify-content: center;
height: 3rem;
align-items: center;
background-color:#0095FF ;
border-radius: .5rem;
color: white;
@include tablet {
width: 50%;
background-image: url('../../assets/images/Icons/upload.svg');
background-size:contain;
background-repeat: no-repeat;
background-size: 10%;
background-position: 4% 50%;

}
@include desktop { 


}

}
.navbar__upload-button__image{
  left: 15%;
  position: absolute;
  padding-left: 1rem;
  @include tablet {
  display: none;

}
  @include desktop { 

}
}
.navbar__searchbar{
  width: 90%;
  height: 2rem;
  background-image: url('../../assets/images/Icons/search.svg');
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 1% 50%;
  text-indent: 20px;
  padding: 5px 3px;
  border-radius: .5rem;

  @include tablet {
    height: 2.5rem;

  }
      @include desktop { 
        text-indent: 40px;
  }
}


.navbar__searchbar__container{
  width: 60%;
  padding-top: 1rem;
  @include tablet {
    width: 70%;

  }
      @include desktop { 
      
  }
}