@use '../../styles/partials/mixins' as *;

.comment-section{
padding-left: 1rem;

&__header{
padding-left: 4rem;
margin-bottom: 0px;
color: #AFAFAF;
font-size: 20px;
@include tablet {
padding-left: 5rem;
}
@include desktop { 
padding-left: 19rem;

}
}
&__quantity{
@include tablet {
padding-left: 5rem;
}
@include desktop { 
padding-left: 19rem;

} 

}

&__my-form{
@include tablet {
display: flex;
}
@include desktop {  
}

}
&__your-img{
position: absolute;
left: 3%;
width: 5vh;

border-radius: 50%;
@include tablet {
left:0%;
width: 8vh;
}
@include desktop { 
left:12%;
width: 6.5vh;
                
}

}

&__user-comment{
padding-left: 4.2rem;
width: 60%;

@include tablet {
padding-left: 5rem;
}
@include desktop { 
padding-left: 19rem;
        
}

}

&__your-comment{
width: 131%;
height: 6rem;
@include tablet {
height: 3rem;
width: 100%;
}
@include desktop { 

}
}



&__button{
padding-left: 4rem;
padding-top: 1rem;
@include tablet {
padding-left: 1rem;
padding-top: 0rem;
width: 28%;
}
@include desktop { 
        
}
}


&__button--clickable{
background-color: #0095FF;
color: white;
width: 90%;
height: 3.2rem;
border-radius: .5rem;
background-image: url('../../assets/images/Icons/add_comment.svg');
background-size:contain;
background-repeat: no-repeat;
background-size: 5%;
background-position: 1% 50%;
text-indent: 20px;
padding: 5px 3px;
@include tablet {
background-position: 10% 50%;
background-size: 12%;
}
}

}

.comments__single-comment{
border-top: #AFAFAF 1px solid;
margin-top: 1rem;
padding-top: 1.3rem;

@include tablet {
padding-left: 1rem;
}
@include desktop { 
padding-left: 15rem;
    
}


&--img{
position: absolute;

width: 5vh;
border-radius: 50%;

@include tablet {
left: 0%;
width: 8vh;
}
@include desktop { 
width: 6.5vh;
left:12%;
}


}
&--name-date-container{
display: inline-flex;
}

&--name{
padding-left: 4rem;
margin-top: 8px;
font-weight: 600;
color: #323232;
}

&--date{
position: absolute;
left: 80%;
margin-top: 8px;
color: #AFAFAF;

@include tablet {

}
@include desktop { 
left: 50%;            
}


}
&--text{
padding-left: 4rem;
padding-right: 1rem;
margin-top: 0px;
color: #323232;
}
}